style.
    .layout {
        font-size: 14px;
        background: whitesmoke;
        padding: 15px 30px;
        margin: auto;
        width: 90%;
        display: block;
    }

    .header {
        text-align: center;
        font-size: 30px;
        font-weight: bold
    }

    .content {
        padding: 5px;
        padding-top: 20px;
        display: block;
        width: 100%
    }

    .bottom {
        text-align: left;
        margin-left: 50%
    }

    .agin {
        text-align: center;
        margin: 20px 0px
    }

   .link {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
div.layout
    img(src= appDomain + "/assets/images/logo.png")

    div.header Forgot email code
    div.content
        div Dear user,
        br
        div This is your link to new password
        br
        br
        div.link
            a(href= link) Click this link
        br
        br
        div Please click this link to change new password.
        br
        br
        div *If you are not the intended recipient, please notify us immediately by returning it to the sender and delete this copy from your system. Thank you for your cooperation.
        br
        br
        br
    div.bottom
        div "====================="
        div VidOps Customer
        div support@vidops.com
    div.agin =============================================